<h1>Chatons à l'adoption</h1>
<ul>
    <li  *ngFor="let kitty of kitten; index as i">
       <div class="cat" (mouseover)="getIn(i)" (mouseout)="getOut(i)" >
        <p [ngClass]="kitty.display ? 'show' : 'noShow'">
            {{ kitty.name }} {{ kitty.race }} {{ kitty.birthday }}
        </p>
        <img [ngClass]="kitty.display ? 'noShow' : 'show'" (mouseenter)="getIn(i)" (mouseleave)="getOut(i)" src="{{ kitty.photo }}" width=" 300px " />
    </div>
        <button type="button " (click)="removeKitten(kitty, i) ">Adopte moi</button>
    </li>
</ul>
<app-app-create-kitten (sendKitten)="onReceiveNewKitten($event) "></app-app-create-kitten>
<app-app-user-kitten [myKittens]="myKittens "></app-app-user-kitten>
